<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4"><%= review.title %>
      <small>reviewd by <%= review.username %></small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= review.musicUrl %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <img class="img-fluid" src="http://placehold.it/750x500" alt=""> -->
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">리뷰내용</h3>
        <p><%= review.content %></p>
        
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Dolor Sit Amet</li>
          <li>Consectetur</li>
          <li>Adipiscing Elit</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->