<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">작성된 곡 리뷰들</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Music Title</th>
                        <th>Reviewer</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < reviews.length; i++) { %>
                    <tr>
                        <td>
                            <a href="/detail/<%= reviews[i]._id %>" method="GET">
                            <%= reviews[i].title %>
                            </a>
                        </td>
                        <td><%= reviews[i].username %></td>
                        <td><%= reviews[i].created %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>