<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <form name=fsearch method=get style="margin:0px;" action="http://www.google.co.kr/search" target="_blank">
        <input type=hidden name=where value="nexteach">
        <input name=query itemname="검색어" required value="" size="33" placeholder="구글검색창">
        <input type=image src="https://i.pinimg.com/736x/0a/39/66/0a39669d5783df4a52d68a5fa1db8c20.jpg" width='60' height='20' border=0 align=absmiddle>
    </form>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block">
        </div>
    </ul>
</nav>
<!-- End of Topbar -->